.midBody {
    margin-top: 100px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
    display: inline-block;
    margin-left: 1.5%;
}

.container5 {
    margin: 2%;
    margin-right: 8%;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    width: 10%;
    float: left;
}

#h4Two {
    text-align: center;
    margin: 0;
}

.rowMid {
    background-color: #ffffff;
}

.columnMid {
    float: left;
    width: 25%;
    padding: 10px;
    background-color: #ffffff;
}

.rowMid:after {
    content: "";
    display: table;
    clear: both;
    background-color: #ffffff;
}

#paragraph {
    width: 50%;
    height: 70px;
}

a[title="midRef"] {
    color: #0ab4ce;
    margin: 0;
}

a[title="midRef"]:hover {
    color: #00b8d4;
    opacity: 0.7;
    margin: 0;
}

#midList {
    padding: 0;
}