@media (max-width:700px) {
    #navHomeConfirmation {
        width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px solid;
        white-space: nowrap;
        font-size: 12px;
        text-align: left;
    }
    #navHomeConfirmation:hover {
        overflow: visible;
        width: 130px;
    }
}

@media screen and (max-width: 650px) {
    .col1,
    .col2,
    .col3,
    .col4 {
        width: 100%;
        margin-top: 0;
    }
    .col3,
    .col4 {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .vl {
        display: none;
    }
}