.button2 {
    background-color: wheat;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 1;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    border-radius: 30%;
}


/* The popup chat - hidden by default */

.popUp {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}


/* Add styles to the form container */

.container7 {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}


/* Full-width textarea */

.container7 textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
}

.container7 textarea:focus {
    background-color: #ddd;
    outline: none;
}

.container7 .btn {
    background-color: #00b8d4;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
    border-radius: 30%;
}

.container7 .cancel {
    background-color: rgba(26, 8, 8, 0.719);
}

.form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}